<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pedidos</title>
    <style>
        table {
            width: 60%;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td {
            padding: 10px;
            border: 1px solid #999;
            text-align: left;
        }
        th {
            background-color: #eee;
        }
    </style>
</head>
<body>
<h1 style="text-align:center;">Lista de Pedidos</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="candy : ${candies}">
        <td th:text="${candy.id}"></td>
        <td th:text="${candy.name}">N</td>
        <td th:text="${candy.description}"></td>
        <td th:text="${candy.price}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
